<!DOCTYPE html>
<html lang="en">
<head>
    <title>Online Store</title>
</head>
<body style="background-color: white">
<h1 style="font-weight:700; color:blue">onlineStore</h1>

<table style="border: 1px solid red;">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th></th>
        <th></th>
    </tr>
    {% for id in items %}
        <tr class = "{{ id[0] }}">
            <td>{{ id[1] }}</td>
            <td>{{ id[2] }}</td>
        </tr>
    {% endfor %}
</table>
<br/>
<br>
<div >TOTAL: {{ price }} PLN</div>
<br/>
<div class = "get--store">Redirect to store!</div>
<script>
    const xmlHttpRequest = new XMLHttpRequest();
    const redirectBtn = document.querySelector(".get--store");
    redirectBtn.addEventListener("click",()=>{
        window.location.replace("/webshop")
    });
</script>
</body>
</html>