<!DOCTYPE html>
<html lang="en">
<head>
    <title>Online Store</title>
</head>
<body style="background-color: white">
<h1 style="font-weight:700; color:blue">onlineStore</h1>

<table style="border: 1px solid red;">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th></th>
        <th></th>
    </tr>
    {% for id in items %}
        <tr class = {{ id[0] }}>
            <td>{{ id[1] }}</td>
            <td>{{ id[2] }}</td>
            <td><button style="display: inline-block;
                                        padding: 5px 25px;
                                        font-size: 14px;
                                        cursor: pointer;
                                        text-align: center;
                                        text-decoration: none;
                                        outline: none;
                                        color: #fff;
                                        background-color: #4CAF50;
                                        border: none;
                                        border-radius: 30px;
                                        box-shadow: 0 6px #999;"
                         class="btn--buy"
                         type="submit">BUY</button></td>
            <td><button style="display:
                                        inline-block;
                                        padding: 5px 25px;
                                        font-size: 14px;
                                        cursor: pointer;
                                        text-align: center;
                                        text-decoration: none;
                                        outline: none;
                                        color: #fff;
                                        background-color: red;
                                        border: none;
                                        border-radius: 30px;
                                        box-shadow: 0 6px #999;"class="btn--buy"
                        class="btn--remove" type="submit">REMOVE</button></td>
        </tr>
    {% endfor %}
</table>
<br>
<div style="text-decoration: underline; cursor: pointer;" class = "get--carts">Redirect to shopping cart!</div>
<script>
    const xmlHttpRequest = new XMLHttpRequest();
    const redirectBtn = document.querySelector(".get--carts");
    redirectBtn.addEventListener("click",()=>{
        window.location.replace("/carts")
    });
    const addButtons = document.querySelectorAll('.btn--buy');
    const removeButtons = document.querySelectorAll('.btn--remove');
    for(let i = 0 ; i < addButtons.length; i++){
        addButtons[i].addEventListener("click",(e)=>{
            const target = e.target;
            const parentElement = target.parentNode.parentNode;
            const name = parentElement.getElementsByTagName('td')[0];
            const price =  parentElement.getElementsByTagName('td')[1];
            const json = JSON.stringify({"id":parentElement.getAttribute("class"),
                "name": name.textContent,
                "price":price.textContent});
            xmlHttpRequest.open("POST","/webshop/buy");
            xmlHttpRequest.send(json);
        });
    }
    for(let i = 0 ; i < removeButtons.length; i++){
        removeButtons[i].addEventListener("click",(e)=> {
            const target = e.target;
            const parentElement = target.parentNode.parentNode;
            const name = parentElement.getElementsByTagName('td')[0];
            const price =  parentElement.getElementsByTagName('td')[1];
            const json = JSON.stringify({"id":parentElement.getAttribute("class"),
                "name": name.textContent,
                "price":price.textContent});
            xmlHttpRequest.open("POST","/webshop/remove");
            xmlHttpRequest.send(json);
        });
    }
    xmlHttpRequest.onreadystatechange = function () {
        if (xmlHttpRequest.readyState == xmlHttpRequest.DONE) {
            if (xmlHttpRequest.status === 200) {
                let response = xmlHttpRequest.responseText;
                response = JSON.parse(response);
                console.log(response);
            }
        }
    };
</script>
</body>
</html>